/* Загальний стиль для тіла */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стиль для заголовку */
header {
  background-color: #0073e6;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Стилі для основного контенту */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Секція "Про мене" */
.about-me {
  flex: 3;
  text-align: left;
  padding: 20px;
  background-color: #ffffff;
  margin-left: 20px;
}

.name {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-top: 0;
  font-weight: bold;
}

.about-text {
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  line-height: 1.6;
}

/* Стилі для галереї */
.gallery-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 1;
}

.gallery {
  position: relative;
  max-width: 500px;
  max-height: 400px;
}

.gallery img {
  width: 100%;
  height: auto;
  max-height: 400px;
  display: block;
  margin-bottom: 10px;
}

/* Стиль для стрілок */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* Стиль для соціальних іконок */
.social-icons {
  position: absolute;
  bottom: 50px;
  width: 100%;
  background-color: #fffefe;
  text-align: center;
  padding: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0073e6;
}

.social-icons p {
  font-size: 14px;
}

/* Футер */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.achievements {
  font-size: 1.2em;
  line-height: 1.5;
}

.additional-text {
  font-size: 1.3em;
  margin-top: 10px;
}

/* Адаптивність */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .about-me {
    margin-left: 0;
    text-align: center;
  }

  .gallery-container {
    max-width: 100%;
  }

  .gallery img {
    max-height: 300px;
  }

  .achievements {
    font-size: 1em;
  }

  .additional-text {
    font-size: 1.1em;
  }

  .social-icons a {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 20px;
    padding: 15px;
  }

  .name {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  .about-text {
    font-size: 16px;
  }

  .achievements {
    font-size: 0.9em;
  }

  .additional-text {
    font-size: 1em;
  }

  .gallery img {
    max-height: 250px;
  }

  .social-icons a {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }
}
